.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url("https://images.pexels.com/photos/768474/pexels-photo-768474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}
.register-title{
    font-size: 50px;
}
.register-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.register-form > label{
    margin: 10px 0;
}
.register-form > input{
    padding: 10px;
    background-color: white;
    border: none;
}
.register-btn{
    margin-top: 20px;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.login-btn{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
